@media only screen and (min-width: 320px) {
  .overview-container {
    display: grid;
    grid-template-rows: auto auto;
    text-align: justify;
  }
  .ov-image-cont {
    margin-left: 8px;
    margin-right: 8px;
  }
  .ov-parag-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .ov-image {
    max-width: 100%;
    object-fit: fill;
  }
}

@media only screen and (min-width: 768px) {
  .overview-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .ov-image {
    max-width: 100%;
    height: 250px;
    object-fit: fill;
  }
}
