@media only screen and (min-width: 320px) {
  .overview-container {
    display: grid;
    grid-template-rows: auto auto;
    text-align: justify;
  }
  .ov-image-cont {
    margin-left: 8px;
    margin-right: 8px;
  }
  .ov-parag-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .ov-image {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (min-width: 768px) {
  .overview-container {
    grid-template-columns: 350px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .overview-container {
    grid-template-columns: 700px auto;
  }
}
