.logoContainer {
  /* margin-top: 5%;
  margin-bottom: 5%; */
  /* background-color: aqua; */
  /* border-width: 2px; */
  /* border: 1px, 1px, 1px, 1px, thin, green; */
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
