@media only screen and (min-width: 320px) {
  .videos-container {
    margin-top: 20px;
  }
  .clipCapt_and_clip_cont {
    margin-left: 2px;
    margin-right: 2px;
  }
  .clipCapt {
    text-align: center;
    background-color: black;
    color: lightgreen;
    margin: 0px;
  }
  .clip {
    max-width: 100%;
    object-fit: cover;
  }
}

/*-----------------------------------------------------------------------*/
@media only screen and (min-width: 500px) {
  .videos-container {
    display: inline-flex;
  }
}
/* @media only screen and (min-width: 683px) {
  .videos-container {
    display: inline-flex;
  }

  .clipCapt_and_clip_cont {
    width: 336px;
  }

  .clip {
  }
}
@media only screen and (min-width: 768px) {
  .clipCapt_and_clip_cont {
    width: 380px;
  }

  .clip {
    height: 250px;
  }
}
@media only screen and (min-width: 800px) {
  .clipCapt_and_clip_cont {
    width: 396px;
  }
}
@media only screen and (min-width: 960px) {
  .clipCapt_and_clip_cont {
    width: 316px;
  }
  .clip {
    height: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .clipCapt_and_clip_cont {
    width: 336px;
  }
}
@media only screen and (min-width: 1440px) {
  .clipCapt_and_clip_cont {
    width: 355px;
  }
}
@media only screen and (min-width: 1536px) {
  .clipCapt_and_clip_cont {
    width: 378px;
  }
}
@media only screen and (min-width: 1920px) {
  .clipCapt_and_clip_cont {
    
    width: 476px;
  }
  .clip {
    height: 250px;
  }
}
@media only screen and (min-width: 2560px) {
  .clipCapt_and_clip_cont {
    width: 506px;
  }
} */
